In [1]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi

In [6]:
data = pd.read_csv('nesarc_pds.csv', low_memory = False)

In [20]:
data['S3AQ3B1'].head(20)

0
1
2
3
4
5
6
7
8
9
10    1
11    1
12
13    1
14    1
15
16    5
17    1
18    1
19
Name: S3AQ3B1, dtype: object

In [10]:
data.dtypes.value_counts()

object     2343
int64       654
float64      11
dtype: int64

In [39]:
data['S3AQ3C1'].replace(' ', np.NaN, inplace = True)

In [44]:
data['S3AQ3B1'].value_counts()

1.0    14836
6.0      772
4.0      747
3.0      687
2.0      460
5.0      409
9.0      102
Name: S3AQ3B1, dtype: int64

In [41]:
#setting variables you will be working with to numeric
data['S3AQ3B1'] = data['S3AQ3B1'].astype(float)
data['S3AQ3C1'] = data['S3AQ3C1'].astype(float)
data['CHECK321'] = data['CHECK321'].astype(float)

In [75]:
#subset data to young adults age 18 to 25 who have smoked in the past 12 months
sub1=data.loc[(data['AGE']>=18) & (data['AGE']<=25) & (data['CHECK321']==1)].copy()

In [77]:
sub1.reset_index(drop=True, inplace=True)

In [78]:
sub1.head(20)

,ETHRACE2A,ETOTLCA2,IDNUM,PSU,STRATUM,WEIGHT,CDAY,CMON,CYEAR,REGION,...,SOL12ABDEP,SOLP12ABDEP,HAL12ABDEP,HALP12ABDEP,MAR12ABDEP,MARP12ABDEP,HER12ABDEP,HERP12ABDEP,OTHB12ABDEP,OTHBP12ABDEP
0,2,0.0099,21,36094,3616,1528.354757,2,11,2001,1,...,0,0,0,0,0,0,0,0,0,0
1,5,0.2643,77,36094,3616,6172.249980,13,3,2002,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0.985,103,41097,4107,5515.974591,27,10,2001,4,...,0,0,0,1,0,1,0,0,0,0
3,1,0.8888,122,31098,3109,4152.434010,23,9,2001,2,...,0,0,0,0,0,0,0,0,0,0
4,1,0.017,136,12042,1218,8657.814391,11,12,2001,3,...,0,0,0,0,0,1,0,0,0,0
5,1,0.0266,150,54099,5414,4002.911738,25,9,2001,3,...,0,0,0,0,0,0,0,0,0,0
6,2,0.146,155,25094,2508,1564.139226,17,8,2001,1,...,0,0,0,0,0,0,0,0,0,0
7,1,0.0249,174,18009,1801,8812.221352,20,9,2001,2,...,0,0,0,0,0,0,0,0,0,0
8,5,0.2598,178,4013,404,3008.554718,15,8,2001,4,...,0,0,0,0,0,0,0,0,0,0
9,1,0.0345,184,48990,4826,1925.637802,1,12,2001,3,...,0,0,0,0,0,1,0,0,0,0
10,4,0.1164,188,6098,624,10481.468900,13,10,2001,4,...,0,0,0,0,0,0,0,0,0,0
11,2,0.1019,210,36094,3616,3197.079796,18,12,2001,1,...,0,0,0,0,0,0,0,0,0,0
12,1,,220,6098,624,4455.546484,22,9,2001,4,...,0,0,0,0,0,0,0,0,0,0
13,5,0.0062,223,25094,2508,1619.588608,26,12,2001,1,...,0,0,0,0,0,0,0,0,0,0
14,2,9.5803,279,36094,3616,5392.714847,22,12,2001,1,...,0,0,0,0,0,0,0,0,0,0
15,5,,337,25094,2508,2292.549993,11,11,2001,1,...,0,0,0,0,0,0,0,0,0,0
16,1,0.644,364,48990,4826,5003.021583,6,11,2001,3,...,0,0,1,1,1,1,0,1,0,0
17,5,0.0111,399,12042,1218,8352.197180,1,9,2001,3,...,0,0,0,0,1,1,0,0,0,0
18,5,0.0393,413,36094,3616,3703.349988,12,12,2001,1,...,0,0,0,0,0,0,0,0,0,0
19,1,0.0406,418,12042,1218,4002.911738,18,12,2001,3,...,0,0,0,0,0,0,0,0,0,0

In [79]:
sub1['S3AQ3C1'].value_counts()

10.0    387
20.0    365
5.0     163
3.0     114
2.0     111
15.0     99
4.0      84
1.0      83
6.0      60
7.0      45
8.0      42
30.0     38
40.0     30
12.0     25
25.0     13
99.0      9
13.0      7
9.0       6
16.0      5
18.0      3
14.0      3
11.0      3
60.0      2
17.0      2
35.0      1
28.0      1
27.0      1
98.0      1
24.0      1
19.0      1
80.0      1
Name: S3AQ3C1, dtype: int64

In [80]:
#SETTING MISSING DATA
sub1['S3AQ3B1'].replace(9, np.nan, inplace = True)
sub1['S3AQ3C1'].replace(99, np.nan, inplace = True)

In [81]:
#recoding number of days smoked in the past month
recode1 = {1: 30, 2: 22, 3: 14, 4: 5, 5: 2.5, 6: 1}
sub1['USFREQMO']= sub1['S3AQ3B1'].map(recode1)

In [83]:
sub1['USFREQMO'].dtypes

dtype('float64')

In [84]:
# Creating a secondary variable multiplying the days smoked/month and the number of cig/per day
sub1['NUMCIGMO_EST']=sub1['USFREQMO'] * sub1['S3AQ3C1']

In [93]:
sub1.groupby('NUMCIGMO_EST').size()

NUMCIGMO_EST
1.0       29
2.0       14
2.5       11
3.0       12
4.0        2
          ..
1050.0     1
1200.0    29
1800.0     2
2400.0     1
2940.0     1
Length: 66, dtype: int64

In [86]:
ct1 = sub1.groupby('NUMCIGMO_EST').size()
ct1

NUMCIGMO_EST
1.0       29
2.0       14
2.5       11
3.0       12
4.0        2
          ..
1050.0     1
1200.0    29
1800.0     2
2400.0     1
2940.0     1
Length: 66, dtype: int64

In [111]:
sub1['MAJORDEPLIFE'].value_counts()

0    1260
1     446
Name: MAJORDEPLIFE, dtype: int64

In [94]:
# using ols function for calculating the F-statistic and associated p value
model1 = smf.ols(formula='NUMCIGMO_EST ~ C(MAJORDEPLIFE)', data=sub1)
results1 = model1.fit()
results1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           NUMCIGMO_EST   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     3.550
Date:                Fri, 23 Jul 2021   Prob (F-statistic):             0.0597
Time:                        22:56:16   Log-Likelihood:                -11934.
No. Observations:                1697   AIC:                         2.387e+04
Df Residuals:                    1695   BIC:                         2.388e+04
Df Model:                           1
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              312.8380      7.747     40.381      0.000     297.643     328.033
C(MAJORDEPLIFE)[T.1]    28.5370     15.146      1.884      0.060      -1.169      58.243
==============================================================================
Omnibus:                      673.875   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5043.141
Skew:                           1.672   Prob(JB):                         0.00
Kurtosis:                      10.755   Cond. No.                         2.46
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [99]:
#for young with and without depression
sub2 = sub1[['NUMCIGMO_EST', 'MAJORDEPLIFE']].dropna()
sub2.reset_index(drop=True, inplace=True)

In [100]:
sub2

      NUMCIGMO_EST  MAJORDEPLIFE
0             90.0             0
1             66.0             1
2            300.0             1
3            300.0             1
4            600.0             0
...            ...           ...
1692         300.0             0
1693          10.0             0
1694        1200.0             1
1695         150.0             0
1696           3.0             0

[1697 rows x 2 columns]

In [102]:
# 0: no depression, 1 : yes
print ('means for numcigmo_est by major depression status')
m1= sub2.groupby('MAJORDEPLIFE').mean()
print(m1)
print ('standard deviations for numcigmo_est by major depression status')
sd1 = sub2.groupby('MAJORDEPLIFE').std()
print(sd1)

means for numcigmo_est by major depression status
              NUMCIGMO_EST
MAJORDEPLIFE
0               312.837989
1               341.375000
standard deviations for numcigmo_est by major depression status
              NUMCIGMO_EST
MAJORDEPLIFE
0               269.002344
1               288.495118

In [103]:
# accept Ho

In [105]:
# create more level: ethnicity
sub3 = sub1[['NUMCIGMO_EST', 'ETHRACE2A']].dropna()

In [112]:
sub1['ETHRACE2A']

0       2
1       5
2       1
3       1
4       1
       ..
1701    2
1702    5
1703    1
1704    1
1705    1
Name: ETHRACE2A, Length: 1706, dtype: int64

In [106]:
model2 = smf.ols(formula='NUMCIGMO_EST ~ C(ETHRACE2A)', data=sub3)
result2 = model2.fit()
print (result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           NUMCIGMO_EST   R-squared:                       0.055
Model:                            OLS   Adj. R-squared:                  0.052
Method:                 Least Squares   F-statistic:                     24.40
Date:                Fri, 23 Jul 2021   Prob (F-statistic):           1.18e-19
Time:                        23:15:44   Log-Likelihood:                -11888.
No. Observations:                1697   AIC:                         2.379e+04
Df Residuals:                    1692   BIC:                         2.381e+04
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept           368.7865      8.229     44.814      0.000     352.646     384.927
C(ETHRACE2A)[T.2]  -109.5127     20.189     -5.424      0.000    -149.111     -69.914
C(ETHRACE2A)[T.3]   -57.7984     42.038     -1.375      0.169    -140.250      24.653
C(ETHRACE2A)[T.4]  -124.5279     36.033     -3.456      0.001    -195.201     -53.854
C(ETHRACE2A)[T.5]  -149.0283     16.795     -8.873      0.000    -181.969    -116.087
==============================================================================
Omnibus:                      712.397   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6548.614
Skew:                           1.717   Prob(JB):                         0.00
Kurtosis:                      11.990   Cond. No.                         6.72
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [107]:
print ('means for numcigmo_est by major depression status')
m2= sub3.groupby('ETHRACE2A').mean()
print (m2)

print ('standard deviations for numcigmo_est by major depression status')
sd2 = sub3.groupby('ETHRACE2A').std()
print (sd2)

means for numcigmo_est by major depression status
           NUMCIGMO_EST
ETHRACE2A
1            368.786528
2            259.273810
3            310.988095
4            244.258621
5            219.758258
standard deviations for numcigmo_est by major depression status
           NUMCIGMO_EST
ETHRACE2A
1            281.430730
2            278.677392
3            260.116964
4            195.076441
5            220.859365

In [108]:
mc1 = multi.MultiComparison(sub3['NUMCIGMO_EST'], sub3['ETHRACE2A'])
res1 = mc1.tukeyhsd()
print(res1.summary())

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
group1 group2  meandiff p-adj    lower     upper   reject
---------------------------------------------------------
     1      2 -109.5127  0.001 -164.6441  -54.3814   True
     1      3  -57.7984 0.6251 -172.5914   56.9945  False
     1      4 -124.5279 0.0051 -222.9229  -26.1329   True
     1      5 -149.0283  0.001   -194.89 -103.1665   True
     2      3   51.7143 0.7555  -71.6021  175.0307  False
     2      4  -15.0152    0.9  -123.233   93.2026  False
     2      5  -39.5156 0.4492 -103.8025   24.7714  False
     3      4  -66.7295 0.7058 -214.5437   81.0848  False
     3      5  -91.2298 0.2269 -210.6902   28.2305  False
     4      5  -24.5004    0.9 -128.3027    79.302  False
---------------------------------------------------------

In [109]:
print(res1)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
group1 group2  meandiff p-adj    lower     upper   reject
---------------------------------------------------------
     1      2 -109.5127  0.001 -164.6441  -54.3814   True
     1      3  -57.7984 0.6251 -172.5914   56.9945  False
     1      4 -124.5279 0.0051 -222.9229  -26.1329   True
     1      5 -149.0283  0.001   -194.89 -103.1665   True
     2      3   51.7143 0.7555  -71.6021  175.0307  False
     2      4  -15.0152    0.9  -123.233   93.2026  False
     2      5  -39.5156 0.4492 -103.8025   24.7714  False
     3      4  -66.7295 0.7058 -214.5437   81.0848  False
     3      5  -91.2298 0.2269 -210.6902   28.2305  False
     4      5  -24.5004    0.9 -128.3027    79.302  False
---------------------------------------------------------